@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1e3a;
  height: 100vh;
}

.chatbot {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 95%;
  border-radius: 30px;
  background-image: url(Images/background.avif);
  box-shadow: 0px 0px 20px rgba(113, 158, 232, 0.4);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #6a67ce;
  border-radius: 20px 20px 25px 25px;
  padding: 0.6em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  font-weight: 700;
  color: #f4f4f9;
}

.header-container img {
  width: 1em;
  align-self: center;
}

.chat-container {
  padding: 0.5em 0.8em;
  height: 100%;
  overflow-y: auto;
}

.bot-container,
.user-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.2em;
  padding: 10px 40px;
  margin-bottom: 1em;
  align-items: flex-start;
  line-height: 1.4em;
  width: 60%;
  border-radius: 7px;
  word-wrap: break-word;
}

.bot-container {
  background-color: #4caf50;
  color: #ffffff;
  border-top-left-radius: initial;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.user-container {
  background-color: #ffffff;
  color: #333;
  float: right;
  border-top-right-radius: initial;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.user {
  align-self: flex-start;
  color: #4caf50;
  font-weight: 700;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  background-color: #f4f4f9;
  padding: 10px;
  border-radius: 25px 25px 20px 20px;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
  height: 50px;
  font-size: large;
  width: 75%;
  border-radius: 30px;
  padding: 10px 15px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: #ffffff;
  color: #333;
}

.send-button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #6a67ce;
  padding: 3px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.send-button:hover {
  background-color: #b3b2f2;
}

.send-button:active {
  transform: scale(0.9);
}

.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #6a67ce;
  border-radius: 10px;
}

.chat-container::-webkit-scrollbar-track {
  background: #1c1e3a;
}

.search-bar:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.search-bar:focus {
  outline: auto;
  outline-color: #6a67ce;
}

@media (max-width: 1025px) {
  .chatbot {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .header-container {
    border-radius: 0 0 25px 25px;
  }

  .bot-container,
  .user-container {
    width: 80%;
    padding: 10px;
  }

  .bot-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    max-width: 90%;
    width: fit-content;
    margin-right: auto;
  }

  .bot-message,
  .user-message {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.4;
    padding: 5px;
    background-color: #f0f0f000;
    border-radius: 10px;
  }

  .bot-message {
    background-color: #f0f0f000;
    margin-right: 10px;
  }
}
